extends layout

block content
    .container
        h1= name
        ul
            li I'm #{age}
            li I like #{likes}
            li I dislike #{dislikes}
            if relation
                li I am Dylan's #{relation}
